.about_me{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_secondary;
}

.picture_profil{
    img{
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    }
}

.content_about_me{
    margin-left: 60px;
}

.about_me_title{
    height: 100%;
    width: 600px;
    transform: translate(-75px, -80px);

    h2{
        font-size: clamp(20px, 4vw, 50px);
        font-weight: 600;
        margin: 10px 0 ;
    }
    
}

.content_bottom_title{
    content: '';
    width: 70px;
    height: 5px;
    background-color: $color_bleu;
}

.about_me_text{
    opacity: 0;
    transform: translateY(50px);

    max-width: 600px;
    line-height: 2.2rem;
    transition: 1s ease-in-out;
    p{
        color: black;
        font-size: $size_text;
    }
}