.about_me{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_secondary;
}

.picture_profil{
    img{
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    }
}

.content_about_me{
    margin-left: 60px;
}

.about_me_title{
    height: 100%;
    width: 600px;
    transform: translate(-75px, -80px);
    font-size: $size_title;

    h2{
        font-size: $size_title;
        font-weight: 600;
        margin: 10px 0 ;
    }
    
}

.content_bottom_title{
    content: '';
    width: 70px;
    height: 5px;
    background-color: $color_bleu;
}

.about_me_text{
    opacity: 0;
    transform: translateY(50px);

    max-width: 600px;
    font-size: $size_text;
    line-height: 2.2rem;
    transition: 1s ease-in-out;
    p{
        color: black;
    }
}







/*
.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    font-size: 1.5rem;
    line-height:4rem;

    ul li:nth-child(1){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1s; 
    }
    ul li:nth-child(2){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.1s; 
    }
    ul li:nth-child(3){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.2s; 
    }
    ul li:nth-child(4){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.3s; 
    }
    ul li:nth-child(5){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.4s; 
    }

}*/