.border_right{
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0;
    left: 0;
    transform: translateX(193%);
    background-color: white;
    transition: 0.5s;
    z-index: 3;
}

.header{
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0;
    left: 0;
    transform: translateX(-93%);
    background-color: white;
    transition: 0.5s;
    z-index: 3;

    .nav_header{
        display: none;
        margin-right: 100px;
        opacity: 0;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        transition: 0.2s;
        a{
            color: black;
            font-size: 2rem;
        }
    }

    .p_border_nav{
        position: absolute;
        top: 50%;
        right: -70px;
        transform: rotate(-90deg) translateX(8px) translateY(-15px);
        font-size: 0.8rem;
        font-weight: bold;
        color: white;
        transition: 0.2s;
    }
    
}

.menu_burger{
    position: absolute;
    top: 50%;
    right: 0;
    height: 35px;
    width: 30px;
    transform: translate(50%, -50%);
    transition: 0.5s;
    z-index: 4;

    &:hover .trait{
        width: 20px;
        transition: 0.3s;
    }
}

.trait{
    content: "";
    position: absolute;
    top: 50%;

    height: 2px;
    width: 30px;
    background-color: $color_bleu;
    transition: 0.3s;
    z-index: 4;

    &::after, &::before{
        content: "";
        position: absolute;
        height: 2px;
        background-color: $color_bleu;
        z-index: 4;
    }

    &::after{
        transform: translateY(9px);
        width: 30px;
        transition: 0.5s;
    }

    &::before{
        transform: translateY(-9px);
        width: 30px;
        transition: 0.5s;
    }

}


/// CHANGE ACTIVÉ VIA JS ///

.header.change{
    transform: translateX(-10%) !important;
    transition: 0.5s;
}

.nav_header.change{
    display: flex;
    opacity: 1;
    transition: 2.2s;
    a{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $color_bleu;
            :hover::after{
                width: 200px;
            }
        }
    }
    
}


.p_border_nav.change{
    display: none;
    transition: 0.5s;

}

.menu_burger.change{
    right: 75% !important;
    &:hover .trait::before{
        transform: rotate(45deg);
        transition: 0.2s;
    }
    &:hover .trait::after{
        transform: rotate(-45deg);
        transition: 0.2s;
    }
    .trait{
        height: 0;
        &::after{
            transform:rotate(45deg);
            :hover{
                width: 35px;
            }
        }
        &::before{
            transform:rotate(-45deg);
        }
    }
}
