%btn{
    position: relative;
    border: none;
    background: transparent;
    color: white;
    font-size: $size_text_btn ;
    font-family: $spartan;
    font-weight: 400;
    padding: $padding_btn;
    overflow: hidden;
    transition: 0.1s all ease;
    cursor: pointer;
    
    &::before{

        background-color: white;
        border-radius: 3px;
        content: "";
        width: 0;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);

        transition: all 0.2s ease;
    }
    &:hover{
        color: black;
        border: hidden;
        transition: all 0.4s ease;
        &::before{
        z-index: -1;
        width: 100%;

        }
    } 
};

.button{
    @extend %btn;
    opacity: 0;
    filter: blur(.5rem);
    animation: fill 0.5s ease-in-out forwards 0.2s;
}

@keyframes fill{
    to{
        opacity: 1;
        filter: blur(0);
    }
}

