
$size_title : clamp(37px, 4vw, 70px);
$size_text : clamp(0.95em, 2vw, 1.3rem);
$size_text_btn : clamp(1.2rem, 2vw, 2rem);

$color_secondary : rgb(242, 243, 244);
$color_bleu : #1ABC9C;

$padding_btn : 10px 25px;

$spartan : 'designer';

$min_width: 260px;
$max_width: 1900px;

//CONFIGURATION OF THE TITLES OF EACH PARTY

%title_party{
    text-align: center;
    font-size: $size_title;
    margin-bottom: 5px;
    &::after{
        content: "";
        display: block;
        margin: 15px auto 50px auto;
        text-align: center;
        width: 13%;
        height: 3px;
        background: $color_bleu;
    } 
}

