
#contact{
    display: flex;
    background-color: $color_secondary;
    
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 100px ;
}

.intro_contact{
    position: relative;
    margin: 55px 0;
    font-size: $size_title;
    font-weight: 900;
    &::after{
        //content: "";
        position: absolute;
        width: 80%;
        height: 5px;
        top: 100%;
        left: 4px;

        background: $color_bleu;
 
    }   
}

.contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    border-radius: 5px;
    padding: 10px;

    input{
        width: 100%;
        margin: 20px 0;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid black;
    }
    textarea{
        width: 100%;
        margin: 40px 0;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid black;
    }
}

.info_sender{
    width: 100%;
    display: flex;
    justify-content: space-between;
    input{
        width: 45%;
    }
}

.coordonne{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;

    button{
        color: black;
    }
}


