
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_secondary;
    
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 50px  0 100px 0;
    h2{
        @extend %title_party ;
        width: 50%; 
    }
}


.contact_form{
    width: 50%;
    padding:30px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
}

.form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    input{
        width: 100%;
        margin: 5px 0 20px 0;
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        border-bottom: 2px solid grey;
    }
    textarea{
        width: 100%;
        margin: 10px 0;
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        border-bottom: 2px solid grey;
    }
    label{
        position: absolute;
        font-weight: bold;
        top: 7px;
        left: 10px;
        opacity: 0.4;
        transition: all 0.3s ease;
        pointer-events: none;
    }
}


.info_sender{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

// STYLE INPUT NAME AND EMAIL FOR THE FOCUS AND THE VALIDATION
    .input_name, .input_email{
        position: relative;
        width: 45%;

        input:focus ~ label, input:valid ~ label{
            transform: translateY(-25px);
            font-size: 15px;
            color: $color_bleu;
            opacity: 1;
        }
        input:valid{
            border-bottom: 2px solid $color_bleu;
            transition: 0.5s;

        }
        input:focus:invalid{
            border-bottom: 2px solid #CB4335;
            transition: 0.5s;
        }   
    }
}

// STYLE INPUT SUJET AND MESSAGE FOR THE FOCUS AND THE VALIDATION
.input_sujet, .textarea_message{
    position: relative;
    width: 100%;
    input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label{
        transform: translateY(-25px);
        color: $color_bleu;
        opacity: 1;
    }
    textarea:focus ~ label, textarea:valid ~ label{
        transform: translateY(-20px);
    }
    input:focus:valid{
        border-bottom: 2px solid $color_bleu;
    }
    textarea:focus:valid{
        border: 2px solid $color_bleu;
        border-radius: 5px;
    }
    input:focus:invalid{
        border-bottom: 2px solid #CB4335;
    }
    textarea:focus:invalid{
        border: 2px solid #CB4335;
        border-radius: 5px;
    }
}

.input_sujet{
    margin: 20px 0 50px 0;
}

.coordonne{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    div{
        .email{
            color: $color_bleu;
        }
    }

    button{
        background-color: $color_bleu;
        &:hover{
            color: black;
            
        }
        &::before{
            height: 0;
        }
        &:hover::before{
            color: white;
            background-color: transparent;
        }
    }
}

.logo_contact{
    display: none;
}