
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.coordonne{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.intro_contact{
    position: relative;
    margin: 55px 0;
    font-size: 1.8rem;
    font-weight: 400;
    &::before{
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        background: black;
        margin: 55px 0;
    }   
}

.contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    border-radius: 5px;
    padding: 10px;

    input{
        width: 100%;
        margin: 60px 0;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid black;
    }
    textarea{
        width: 100%;
        margin: 20px 0;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid black;
    }
}

.info_sender{
    width: 100%;
    display: flex;
    justify-content: space-between;
    input{
        width: 45%;
    }
}

.btn_contact{
    font-size: 35px;
}
