.main{
    display: flex;
    flex-direction: column;
}

.home{
    background: url(../../img/light-bulbs-5488573_1920.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.intro_and_button_home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .intro{
        padding-top: 100px;
        .intro_dev{
            font-family: 'designer';
            font-size: 7rem;
        }
        p{
            margin: 0;
        }
    }
    
    .buttons_home{
        display: flex;
        justify-content: space-between;
    }
}