

.home{
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5), rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url("../../asset/img/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.intro_and_button_home{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content_title{
        display: flex;
        .title_home{
            font-family: 'designer';
            font-size: clamp(40px, 7vw, 130px);
            margin: 0;
            color: white;
            font-weight: lighter;
        }
        span{
            font-weight: bold;
            font-size: clamp(40px, 7vw, 130px);
            color: $color_bleu;
        }
    }
    
    .buttons_home{
        display: flex;
        justify-content: space-between;

        
    }
}
//BUTON SCROLL HOME
.scroll_down{
    height: 50px;
    width: 30px;
    border: 2px solid white;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    border-radius: 50px;
    cursor: pointer;

    &::before, &::after{
        content: '';
        position: absolute;
        top: 20%;
        left: 50%;
        border: 2px solid white;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
    }
    
    &::after{
        top: 30%;
        animation-delay: .3s;
    }
}

@keyframes scroll-down{
    0%{
        opacity: 0;

    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}