@media screen and (max-width: 840px){
    .contact_form{
        textarea{
            margin-bottom: 0;
        }
    }
    
    .coordonne{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 15px 0;

        button{
            background-color: white;
            margin: 0 0 25px 0;

            &::before{
                content: none;
            }

        }
    }
    .phone{
        text-align: center;
    }
    
    .email{
        text-align: center;
    }
}
