@media screen and (max-width: 1300px){

//PARTIE ABOUT_ME//

.about_me{
    padding-top: 40px;
    height: auto;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.picture_profil{
    img{
        margin: 20px 0;
        width: 175px;
        border-radius: 5%;
    }
}

.content_about_me{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.about_me_title{
    height: auto;
    width: 85%;
    padding-bottom: 10px;
    transform: none;

    h2{
        display: flex;
       flex-wrap: wrap;
        text-align: right;
    }

    .content_bottom_title{
        width: 45%;
        transform: translateX(122%);
        margin: 0;
    }

}
.about_me_text{
    opacity: 1;
    transform: none;
    margin-top: 40px;
    line-height: 2rem;
    width: 85%;
    text-align: left;
}

}

@media screen and (max-width: 840px){

//HEADER//

.header{
    display: none;
}

.header_mobile{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 40px;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
    transition: 0.5s;
    z-index: 3;

    .nav_header_mobile{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: 0.2s;
        a{
            color: $color_bleu;
            font-size: 2rem;
            transition: 0.3s;
        }
    }

    .name_header{
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: 0.8rem;
        font-weight: bold;

        span{
            color: $color_bleu;
        }
    }
}

.menu_burger_mobile{
    position: absolute;
    bottom: 5px;
    right: 30px;
    height: 35px;
    width: 35px;
    transition: 0.5s;
    cursor: pointer;
    z-index: 5;

    .trait_mobile{
        content: "";
        position: absolute;
        top: 50%;
    
        height: 2px;
        width: 20px;
        background-color: $color_bleu;
        transition: 0.3s;
        z-index: 4;
    
        &::after, &::before{
            content: "";
            position: absolute;
            height: 2px;
            background-color: $color_bleu;
            z-index: 4;
        }
    
        &::after{
            transform: translateY(9px);
            width: 30px;
            transition: 0.5s;
        }
    
        &::before{
            transform: translateY(-9px);
            width: 25px;
            transition: 0.5s;
        }
    
    }
}

.border_bottom{
    display: none;
}

.border_top{
    display: none;
}

.border_right{
    display: none;
}
//changer via js//

.header_mobile.change{
    transform: translateY(0);
    top: 0;
    z-index: 21;
}

.menu_burger_mobile.change{
    top: 20px;
    right: 30px;
    transition: 0.5s;
    span{
        width: 0;
        &::before{
            transform: rotate(45deg);
            width: 30px;
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
}

.name_header.change{
    display: none;
}

//PARTIE HOME//

.button{
    background-color: white;
    border-radius: 24px;
    color: black;
    padding: 10px;
    margin: 30px 10px 10px 10px;
    &:hover::before{
        width: 0;
        color: black;
    }
}

//PARTIE SKILLS

.skill{
    opacity: 1;
    transform: none;
}

//PARTIE CONTACT//

    .contact{
        margin: 45px;
    }
    .contact_form{
        width: 85%;
        textarea{
            margin-bottom: 0;
        }
    }
    
    .coordonne{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 15px 0;

        button{
            margin: 0 0 25px 0;
            color: white;
            &::before{
                content: none;
            }

        }
    }
    .phone{
        text-align: center;
    }
    
    .email{
        text-align: center;
    }
    .logo_contact{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        a{
            font-size: 30px;
            color: black;
        }
    }
    #skills{
        background-color: white;
    }
    #contact{
        background-color: white;

    }
}

@media screen and (max-height: 773px){
    .input_sujet{
        margin-bottom: 10px;
    }

    .nav_header.change{
        justify-content: center;
        a{
            margin: 25px 0;
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-height: 400px){
    .home{
        background-size: contain;
    }
    
    .img_back{
        background-size: contain;
    }
}


