.portfolio{
    min-height: 80vh;
    padding: 40px 0;
    background-color: $color_secondary;

    h2{
        text-align: center;
        font-size: $size_title;
        margin-top: 0;
    }
}

.portfolio_content{
    max-width: 620px;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-self: center;
    align-items: center;
    grid-gap: 20px;
    transform-style: preserve-3d;

    .card{
        position: relative;
        height: 150px;
        width: 300px;
        transform-style: preserve-3d;
        perspective: 1000px;
        
        &:hover .box{
            transform: rotateY(180deg);
        }
    }
}

.box{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: 0.5s ease-in-out;
    
    .imgBx{
        height: 100%;
        width: 100%;

        img{
            background-color: rgba(0,0,0,0.5);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
        .content_bx{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(255,255,255,0.8);
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            transform: rotateY(180deg);

            div{
                transform-style: preserve-3d;
                padding: 20px 50px;
                background: $color_bleu;
                transform: translateZ(100px);

                a{
                    transition: 0.5s;
                    &:hover{
                        opacity: 0.4;
                        transition: 0.5s;
                    }
                }    
            }
        }
    }
