body{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'designer';
}

ul{
    padding: 0;
    margin: 0;
}

li{
    color: black;
    list-style: none;
}

p{
    color: white;
    margin: 0;
}

h1,h2,h3,h4,h5{
    color: black;
}
a{
    text-decoration: none;
    padding: 0;
}

