
html{width: 100vw;}

body{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'designer';
    overflow-x: hidden;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    color: black;
    list-style: none;
}

p{
    color: black;
    margin: 0;
}

h1,h2,h3,h4,h5{
    color: black;
    margin: 0;
}
h2{
    margin-top: 10px;
}

h4{
    font-size: 1.3rem;
}

a{
    text-decoration: none;
    padding: 0;
    color: white;
}

input:focus{
    outline: unset;
}

textarea:focus{
    outline: unset;
}

