.section_skills{
    display: flex;
    justify-content: space-around;
}

.content_text_skills{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    font-size: 1.5rem;
    line-height:4rem;

    ul li:nth-child(1){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1s; 
    }
    ul li:nth-child(2){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.1s; 
    }
    ul li:nth-child(3){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.2s; 
    }
    ul li:nth-child(4){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.3s; 
    }
    ul li:nth-child(5){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.4s; 
    }

}

.text_skills{
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(20%);
    transition: all 0.5s ease-in-out;
}