.section_skills{
    padding:40px 0;
    margin: 0 auto;
    background-color:$color_secondary;
    h2{
        text-align: center;
        font-size: $size_title;
        margin-bottom: 5px;
        margin-top: 0;
    }
    p{
        text-align: center;
        font-weight: 600;
    }
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    h3{
        margin-left: 10%;
        font-size: $size_text_btn;
    }
}

.skills_list{
    display: flex;
    width: auto;
    margin: 20px auto;

    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        }
    :nth-child(1){
        :nth-child(1){
            transition-delay: 0.5s
        }
        :nth-child(2){
           transition-delay: 0.4s
        }
        :nth-child(3){
           transition-delay: 0.3s 
        }
        :nth-child(4){
            transition-delay: 0.2s
        }
        :nth-child(5){
            transition-delay: 0.1s
        }
    }
        
        :nth-child(2){
            :nth-child(1){
                transition-delay: 0.9s;
            }
            :nth-child(2){
                transition-delay: 0.8s;
            }
            :nth-child(3){
                transition-delay: 0.7s;
            }
            :nth-child(4){
                transition-delay: 0.6s;
            }
        }
        
        :nth-child(3){
            :nth-child(1){
                transition-delay: 1.3s;
            }
            :nth-child(2){
                transition-delay: 1.2s;
            }
            :nth-child(3){
                transition-delay: 1.1s;
            }
            :nth-child(4){
                transition-delay: 1s;
            }
        }
}


.skill{
    margin: 10px 25px;
    transform: translateY(70%);
    opacity: 0;
    transition: 1s;

    li{
        text-align: center;
        opacity: 0;
        font-weight: bold; 
        transition: 0.5s;
    }
    
    img{
        &:hover{
            animation: opacityImg 0.5s ease forwards;
        }
    }
    
    &:hover{
        animation: transSkill 0.5s ease-in-out forwards;
        li{
            animation: opacityLi 0.5s ease forwards;
        }
    }
}

@keyframes opacityImg{
    to{
        opacity: 0.7;
    }
}
@keyframes opacityLi{
    to{
        opacity: 1;
    }
}

@keyframes transSkill{
    to{
        transform: translateY(-3px);
    }
}