.intro{
    p{
        font-family: $spartan;
        font-weight: 300;
        color: black;
        font-size: 2.5rem;
    }
}

.nav_site{
    p{
        color: black;
        font-family: $spartan;
        font-weight: 300;
        font-size: 14px;
    }
}

//#EE7752, #E73C7E, #23A6D5, #23D5AB