.intro{
    p{
        font-family: $spartan;
        font-weight: 300;
        color: white;
    }
}

.nav_site{
    p{
        color: white;
        font-family: $spartan;
        font-weight: 300;
    }
}

//#EE7752, #E73C7E, #23A6D5, #23D5AB