@import 'partials/reset';
@import 'partials/config';
@import 'partials/typo';
@import 'partials/button';
@import 'partials/about_me';
@import 'partials/home';
@import 'partials/skills';
@import 'partials/svg_stack';
@import 'partials/contact';
@import 'partials/loader';
@import 'partials/portfolio';
@import 'partials/border';
@import 'partials/media_query';

html{
    scroll-behavior: smooth;
}
section{
    transition: 0.5s;
}
section.change{
    filter: blur(5px);
    transition: 0.5s;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
}

.img_back{
    background:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url(../img/bureau2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    width: 100%;

}

.arrow_up{
    opacity: 0;
    height: 45px;
    width: 45px;
    background: $color_bleu;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 20;
    img{
        width: 30px;
    }
}

@font-face{
    font-family: 'designer';
    src: url(../font/Kiona-Regular.ttf);
}