@import 'partials/reset';
@import 'partials/config';
@import 'partials/typo';
@import 'partials/button';
@import 'partials/about_me';
@import 'partials/home';
@import 'partials/skills';
@import 'partials/contact';
@import 'partials/loader';
@import 'partials/portfolio';
@import 'partials/border';
@import 'partials/media_query';

html{
    scroll-behavior: smooth;
}
section{
    transition: 0.5s;
}
section.change{
    filter: blur(5px);
    transition: 0.5s;
    :hover{
        cursor: url('../img/annuler.png') 4 4, auto;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75px;
}

.copyright{
    padding-top: 15px;
    display: flex;
    align-items: flex-start;

    p{
        font-size: 0.8rem;
        font-weight: bold;
    }
}

.img_back{
    background:  linear-gradient(rgba(0,0,0, 0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/metro.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    width: 100%;
}

.arrow_up{
    opacity: 0;
    height: 45px;
    width: 45px;
    background: $color_bleu;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 20;
    img{
        width: 30px;
    }
}

@font-face{
    font-family: 'designer';
    src: url(../font/Kiona-Regular.ttf);
}