body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'designer';
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: black;
  list-style: none;
}

p {
  color: black;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  color: black;
}

a {
  text-decoration: none;
  padding: 0;
  color: white;
}

.intro p {
  font-family: "designer";
  font-weight: 300;
  color: white;
  font-size: 2.5rem;
}

.nav_site p {
  color: white;
  font-family: "designer";
  font-weight: 300;
  font-size: 14px;
}

.button {
  position: relative;
  border: none;
  background: transparent;
  color: white;
  font-size: 2rem;
  font-family: "designer";
  font-weight: 400;
  padding: 10px 25px;
  overflow: hidden;
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.button::before {
  background-color: white;
  border-radius: 3px;
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button:hover {
  color: black;
  border: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.button:hover::before {
  z-index: -1;
  width: 100%;
}

.button {
  opacity: 0;
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
  -webkit-animation: fill 0.5s ease-in-out forwards 0.2s;
          animation: fill 0.5s ease-in-out forwards 0.2s;
}

@-webkit-keyframes fill {
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes fill {
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.about_me {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picture_profil img {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.content_about_me {
  margin-left: 60px;
}

.about_me_title {
  height: 100%;
  width: 600px;
  -webkit-transform: translate(-75px, -80px);
          transform: translate(-75px, -80px);
  font-size: 3rem;
}

.about_me_title h2 {
  font-size: 50px;
  font-weight: 600;
  margin: 10px 0;
}

.content_bottom_title {
  content: '';
  width: 70px;
  height: 5px;
  background-color: #1ABC9C;
}

.about_me_text {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  max-width: 600px;
  font-size: 1.3rem;
  line-height: 2.2rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.about_me_text p {
  color: black;
}

/*
.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    font-size: 1.5rem;
    line-height:4rem;

    ul li:nth-child(1){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1s; 
    }
    ul li:nth-child(2){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.1s; 
    }
    ul li:nth-child(3){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.2s; 
    }
    ul li:nth-child(4){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.3s; 
    }
    ul li:nth-child(5){
        opacity: 0;
        transform: translateX(-20%);
        transition: all 0.5s ease-in-out 1.4s; 
    }

}*/
.home {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), color-stop(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1))), url("../../asset/img/back.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("../../asset/img/back.jpg");
  background-size: 100%;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.intro_and_button_home {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro_and_button_home .intro .intro_dev {
  font-family: 'designer';
  font-size: 7rem;
}

.intro_and_button_home .intro p {
  margin: 0;
  font-weight: bold;
}

.intro_and_button_home .buttons_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scroll_down {
  height: 50px;
  width: 30px;
  border: 3px solid white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 100px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll_down::before, .scroll_down::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-50%, -100%) rotate(45deg);
          transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  -webkit-animation: scroll-down 1s ease-in-out infinite;
          animation: scroll-down 1s ease-in-out infinite;
}

.scroll_down::after {
  top: 30%;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

@-webkit-keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

.section_skills {
  padding: 40px 0;
  margin: 0 auto;
  background-color: #e5e7e9;
}

.section_skills h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5px;
  margin-top: 0;
}

.section_skills p {
  text-align: center;
  font-weight: 600;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.skills h3 {
  margin-left: 10%;
  font-size: 1.6rem;
}

.skills_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 20px auto;
}

.skills_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills_list :nth-child(1) :nth-child(1) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.skills_list :nth-child(1) :nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.skills_list :nth-child(1) :nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.skills_list :nth-child(1) :nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.skills_list :nth-child(1) :nth-child(5) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.skills_list :nth-child(2) :nth-child(1) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.skills_list :nth-child(2) :nth-child(2) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.skills_list :nth-child(2) :nth-child(3) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.skills_list :nth-child(2) :nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.skills_list :nth-child(3) :nth-child(1) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.skills_list :nth-child(3) :nth-child(2) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.skills_list :nth-child(3) :nth-child(3) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.skills_list :nth-child(3) :nth-child(4) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.skill {
  margin: 10px 25px;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.skill li {
  text-align: center;
  opacity: 0;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skill img:hover {
  -webkit-animation: opacityImg 0.5s ease forwards;
          animation: opacityImg 0.5s ease forwards;
}

.skill:hover {
  -webkit-animation: transSkill 0.5s ease-in-out forwards;
          animation: transSkill 0.5s ease-in-out forwards;
}

.skill:hover li {
  -webkit-animation: opacityLi 0.5s ease forwards;
          animation: opacityLi 0.5s ease forwards;
}

@-webkit-keyframes opacityImg {
  to {
    opacity: 0.7;
  }
}

@keyframes opacityImg {
  to {
    opacity: 0.7;
  }
}

@-webkit-keyframes opacityLi {
  to {
    opacity: 1;
  }
}

@keyframes opacityLi {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes transSkill {
  to {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@keyframes transSkill {
  to {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

.marquee_back {
  opacity: 0;
  line-height: unset;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: opacMarquee 3s ease forwards;
          animation: opacMarquee 3s ease forwards;
}

.marquee_back div {
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  -webkit-animation: animateBack 40s linear infinite;
          animation: animateBack 40s linear infinite;
  -webkit-animation-delay: -40s;
          animation-delay: -40s;
}

.marquee_back div:nth-child(2) {
  -webkit-animation: animateBack2 40s linear infinite;
          animation: animateBack2 40s linear infinite;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

.marquee_front {
  opacity: 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
  -webkit-animation: opacMarquee 3s ease forwards 2s;
          animation: opacMarquee 3s ease forwards 2s;
}

.marquee_front div {
  font-size: 2rem;
  font-weight: 400;
  white-space: nowrap;
  -webkit-animation: animateFront 60s linear infinite;
          animation: animateFront 60s linear infinite;
  -webkit-animation-delay: -60s;
          animation-delay: -60s;
}

.marquee_front div:nth-child(2) {
  -webkit-animation: animateFront2 60s linear infinite;
          animation: animateFront2 60s linear infinite;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
}

@-webkit-keyframes animateBack {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animateBack {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes animateBack2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes animateBack2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@-webkit-keyframes animateFront {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animateFront {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes animateFront2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateFront2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes opacMarquee {
  to {
    opacity: 1;
  }
}

@keyframes opacMarquee {
  to {
    opacity: 1;
  }
}

#contact {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e5e7e9;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.intro_contact {
  position: relative;
  margin: 55px 0;
  font-size: 3rem;
  font-weight: 900;
}

.intro_contact::after {
  position: absolute;
  width: 80%;
  height: 5px;
  top: 100%;
  left: 4px;
  background: #1ABC9C;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
}

.contact_form input {
  width: 100%;
  margin: 60px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid black;
}

.contact_form textarea {
  width: 100%;
  margin: 20px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid black;
}

.info_sender {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_sender input {
  width: 45%;
}

.coordonne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-weight: 600;
}

.coordonne button {
  color: black;
}

.loader {
  position: absolute;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  width: 100%;
  height: 100vh;
  background: #1c2833;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.bounce {
  width: 1.5rem;
  height: 1.5rem;
  margin: 10px;
  background: #fdfefe;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: bounce 1.5s infinite ease-in-out both;
          animation: bounce 1.5s infinite ease-in-out both;
}

.bounce:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bounce:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.fondu-out {
  opacity: 0.9;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-animation: trans 0.5s forwards;
          animation: trans 0.5s forwards;
}

@-webkit-keyframes trans {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes trans {
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.portfolio {
  min-height: 80vh;
  padding: 40px 0;
}

.portfolio h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
}

.portfolio_content {
  max-width: 620px;
  width: 80%;
  height: auto;
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.portfolio_content .card {
  position: relative;
  height: 150px;
  width: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.portfolio_content .card:hover .box {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.box .imgBx {
  height: 100%;
  width: 100%;
}

.box .imgBx img {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box .content_bx {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #e5e7e9;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.box .content_bx div {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: 20px 50px;
  background: #1ABC9C;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.box .content_bx div a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box .content_bx div a:hover {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.border_right {
  position: fixed;
  height: 100vh;
  width: 50%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(193%);
          transform: translateX(193%);
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

.header {
  position: fixed;
  height: 100vh;
  width: 50%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-93%);
          transform: translateX(-93%);
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

.header .nav_header {
  display: none;
  margin-right: 100px;
  opacity: 0;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .nav_header a {
  color: black;
  font-size: 2rem;
}

.header .p_border_nav {
  position: absolute;
  top: 50%;
  right: -70px;
  -webkit-transform: rotate(-90deg) translateX(8px) translateY(-15px);
          transform: rotate(-90deg) translateX(8px) translateY(-15px);
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.menu_burger {
  position: absolute;
  top: 50%;
  right: 0;
  height: 35px;
  width: 30px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 4;
}

.menu_burger:hover .trait {
  width: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.trait {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 30px;
  background-color: #1ABC9C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 4;
}

.trait::after, .trait::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #1ABC9C;
  z-index: 4;
}

.trait::after {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  width: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.trait::before {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  width: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header.change {
  -webkit-transform: translateX(-10%) !important;
          transform: translateX(-10%) !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav_header.change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: 2.2s;
  transition: 2.2s;
}

.nav_header.change a {
  position: relative;
}

.nav_header.change a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #1ABC9C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 5;
}

.nav_header.change a:hover::after {
  width: 75%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.p_border_nav.change {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu_burger.change {
  right: 75% !important;
}

.menu_burger.change:hover .trait::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu_burger.change:hover .trait::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu_burger.change .trait {
  height: 0;
}

.menu_burger.change .trait::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu_burger.change .trait::after :hover {
  width: 35px;
}

.menu_burger.change .trait::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

html {
  scroll-behavior: smooth;
}

section {
  -webkit-transition: 0.5ss;
  transition: 0.5ss;
}

section.change {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: white;
}

.img_direction {
  position: absolute;
  right: 150px;
}

.img_back {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(rgba(0, 0, 0, 0.3)), color-stop(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.9))), url(../img/bureau2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/bureau2.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
}

@font-face {
  font-family: 'designer';
  src: url(../font/Kiona-Regular.ttf);
}
/*# sourceMappingURL=main.css.map */